<div class="chatRoom py-4">
  <div class="mb-3">
    <h1 class="">Chat Room</h1>
    <p class="text-primary h3 text-center">請輸入暱稱和大家一起聊天吧</p>
  </div>
  <div class="container d-flex flex-column justify-content-between h-100">
    <!-- 訊息顯示區 -->
    <div class="showInfo mb-3" id="js-scroll">
      <ul class="list-group">
        <li class="list-group-item"
            v-for="item in messages"
            :key="item.id">
          <div v-if="item.username == username">
            <p class="badge badge-primary ml-auto">{{ item.username }}</p>
            <p class="text-right">{{ item.message }}</p>
          </div>
          <div v-if="item.username !== username">
            <p class="badge badge-info mr-auto">{{ item.username }}</p>
            <p class="text-left">{{ item.message }}</p>
          </div>
          <p class="text-right">
            <small>{{ item.time }}</small>
          </p>
        </li>
        <!--<li class="list-group-item">
          <p class="badge badge-info mr-auto">Nick :</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum repellendus officia provident vel iure doloribus,
            neque ut dolorem, distinctio obcaecati quia. Non modi veniam adipisci vero consectetur, vitae ullam nesciunt!</p>
          <p class="text-right">
            <small>2018/07/29 15:30:20</small>
          </p>
        </li>
        <li class="list-group-item bg-light">
          <p class="badge badge-primary mr-auto">Zero :</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum repellendus officia provident vel iure doloribus,
            neque ut dolorem, distinctio obcaecati quia. Non modi veniam adipisci vero consectetur, vitae ullam nesciunt!</p>
          <p class="text-right">
            <small>2018/07/29 15:30:20</small>
          </p>
        </li>
        <li class="list-group-item bg-light">
          <p class="badge badge-primary mr-auto">Zero :</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum repellendus officia provident vel iure doloribus,
            neque ut dolorem, distinctio obcaecati quia. Non modi veniam adipisci vero consectetur, vitae ullam nesciunt!</p>
          <p class="text-right">
            <small>2018/07/29 15:30:20</small>
          </p>
        </li>
        <li class="list-group-item">
          <p class="badge badge-info mr-auto">Nick :</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum repellendus officia provident vel iure doloribus, neque
            ut dolorem, distinctio obcaecati quia. Non modi veniam adipisci vero consectetur, vitae ullam nesciunt!</p>
          <p class="text-right">
            <small>2018/07/29 15:30:20</small>
          </p>
        </li> -->
      </ul>
    </div>
    <!-- 資料輸入 -->
    <form class="mt-auto">
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text"
                 class="form-control"
                 id="inputName"
                 placeholder="輸入暱稱"
                 maxlength="20"
                 v-model="username">
        </div>
        <div class="form-group col-md-6">
          <textarea type="text"
                 class="form-control"
                 id="inputInfo"
                 placeholder="請輸入訊息"
                 maxlength="100"
                 v-model="tempMessage">
          </textarea>
        </div>
        <div class="form-group col-md-2">
          <button type="submit"
                  class="btn btn-primary w-100 font-weight-bold"
                  @click="submitMessage()">送 出</button>
        </div>
      </div>
    </form>
  </div>
</div>
